<div class="admin-panel block">
  <h1 class="text-center">Admin Login</h1>

  <%= form_tag sessions_path do %>
    <div class="form-group">
      <%= label_tag :username %><br />
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= text_field_tag :username, params[:username], class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :password %><br />
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= password_field_tag :password, params[:password], class: "form-control"  %>
      </div>
    </div>
    <%= submit_tag "Log in", class: "btn btn-primary full-width"%>
  <% end %>
</div>
