<!-- <h1 class="text-center">服务领域</h1> -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
  </ol>

  <!-- Slider Content -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("picture6.jpg", width: "100%", height:"200px", alt: "") %>
      <div class="carousel-caption">
        <h2>个人和公司报税及规划</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag("picture1.jpg", width: "100%", height:"200px", alt: "") %>
      <div class="carousel-caption">
        <h2>为中小型企业提供法律和财务系统咨询</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag("picture2.jpg", width: "100%", height:"200px", alt: "") %>
      <div class="carousel-caption">
        <h2>为公司和企业担任长年法律及财务顾问</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag("picture3.jpeg", width: "100%", height:"200px", alt: "") %>
      <div class="carousel-caption">
        <h2>设立及解散公司</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag("picture4.jpg", width: "100%", height:"200px", alt: "") %>
      <div class="carousel-caption">
        <h2>财产规划，遗嘱及信托撰写</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag("picture5.jpg", width: "100%", height:"200px", alt: "") %>
      <div class="carousel-caption">
        <h2>设置公司财务系统及会计软件(QuickBooks)培训，公司记账，财务报表，代办薪资税和营业税</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag("picture8.jpg", width: "100%", height:"200px", alt: "") %>
      <div class="carousel-caption">
        <h2>财务，法律文件翻译</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

  <!-- <p>如有任何有关法律及税务方面的疑难，欢迎向张律师咨询</p> -->
</div>
<script>
$('#carousel').carousel({
  interval: 8000
});
</script>