
<% if current_user %>
  <h1 class="text-center"><%=t('source-page.title') %></h1>
  <%= link_to t('source-page.form-new'), new_post_path, :class => "btn btn-primary right" %>
<% else %>
<h1 class="text-center"><%=t('nav.source') %></h1>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <h3><%= link_to post.title, post %></h3>
    <div><%= post.body %><div>
    <div class="right"><%= link_to t('source-page.viewall'), post %></div>
    <br/>
  <% end %>
</ul>

<br />


